body {
    --sans-font: 'Roboto', sans-serif;
    --mono-font: 'Roboto Mono', monospace;
    font-family: var(--sans-font);
}

svg.railroad {
    display: block;
    font-size: 1rem;
    font-weight: normal;
    background-color: #F4F4F4;
}

svg.railroad:hover a {
    text-decoration: underline;
}

svg.railroad :is(rect,line,path) {
    stroke-width: 1.5px;
    stroke-linecap: square;
    stroke-linejoin: round;
    stroke: darkblue;
    fill: aliceblue;
}

svg.railroad :is(path.rail, path.station) {
    fill: none;
}

svg.railroad path.arrow {
    fill: black;
}

svg.railroad text.token {
    fill: orangered;
    font-weight: bold;
}

svg.railroad text.reference {
}

svg.railroad text.literal {
    font-family: var(--mono-font);
    font-size: 0.9rem;
    font-weight: bold;
    fill: gray;
}

svg.railroad path.literal {
    stroke-linecap: butt;
    stroke-linejoin: bevel;
}

svg.railroad rect.literal {
    stroke-width: 0;
    fill: #E0E0E0;
}

svg.railroad rect.function {
    stroke: black;
    fill: white;
}

svg.railroad text.function {
    font-weight: 900;
}

svg.railroad rect.frame {
    stroke: black;
    stroke-width: 1px;
    stroke-dasharray: 1 4 1 5;
    fill: none;
}

svg.railroad tspan.single {
    font-family: var(--mono-font);
    font-size: 0.9rem;
    font-weight: bold;
}
